* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
  color :white;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
  display: inline-block;
  text-align: left;
  margin-top: 99px;
  padding: 20px;
  background-color: rgb(211, 198, 190);
}

header{
  display: flex;
  justify-content: flex-start;
  align-self: center;
  align-items: center;
  width: auto;
  min-height: 70px;
  background-color: rgb(23, 189, 189); 
  margin:20px;
  padding:20px;
  position:fixed;
  top: 0;
  left:0;
  right:0;
  overflow: hidden;
}

li{
  list-style-type: none;
  margin:20px;
}

a{
  text-decoration: none; 
}

a:hover{
  color:rgb(0, 3, 202);
}

main {
  margin-top: 20px;
  width: 98%;
  background-color: rgb(56, 59, 59);
  display:flex;
  justify-content: flex-start;
  flex-flow: column wrap;
  padding:20px;
}
main img{
  float: right;
  width: 600px;
  height: 400px;
  margin-right: 5%;
}

#quienes{
  background-color: rgb(103, 104, 100);
  height:100%;
}

#contacto{
  background-color: rgba(13, 109, 102, 0.452);
  height: 100%;
  width: 98%;
}