* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
  color :white;
  font-size: 80px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: rgb(211, 198, 190);
  align-content: center;
  gap:1%
}

div{
  min-width: 30%;
  height: 40%;
  width: 24%;
  background-color: aqua;
  text-align: left;
}